/*matched background color to banner*/
body {
    background-color:#f2f2f2;
}
/*style for banner*/
img {
    width:100%;
}

/*style for form (spacing and layout)*/
form {
    display: grid; 
    gap: 7px; 
    width: 75%;
    margin-bottom: 45px;
}

/*styles for input table*/
table{
    width: 100%;
    border-collapse: collapse;
}

input {
    color: black;
    border-radius: 4px;
    border-color: #037f8c;
}
/*Adds the orange from banner to form label text*/
label {
    font-family: "Reddit Mono", monospace;
    font-weight: bold;
    color: #f25c05; 
}

/*container to center buttons*/
.button-container {
    display: flex;
    justify-content: center;
}
/*styles for create button*/
#createButton {
    background-color:orange;
    color: black;
    font-weight: bold;
    padding: 12px;
    text-align: center;
    font-size: 16px;
    border-radius: 12px;
    margin-top: 45px;
    margin-right: 20px; 
}
/*styles for clear button*/
#clearButton {
    background-color: orange;
    color: black;
    font-weight: bold;
    padding: 12px;
    text-align: center;
    font-size: 16px;
    border-radius: 12px;
    margin-top: 45px;
}
/*"create button" hover*/
#createButton:hover {
    background-color:#f25c05; 
    color: white;
}
/*"clear button" hover*/
#clearButton:hover {
    background-color:royalblue;
    color: white; 
}
/*font colors, alignment, and styles for table and body text*/
h1 {
    font-family: "Reddit Mono", monospace;
    text-align: center;
    color:royalblue;
    font-size: medium;
}

h2 {
    font-family: "Platypi", serif;
    color:#037f8c;
}

p {
    font-family: "Reddit Mono", monospace;
    text-align: center;
}

th {
    font-family:"Reddit Mono", monospace;
    background-color:#FFF5EE;
    text-align: center;
    background-color:#93ccea;
    
}

td {
    font-family: "Reddit Mono", monospace;
    background-color:#FFF5EE;
    text-align: center;
}


